name: Website deployed with Matrix
on: push
jobs:
  build:
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [12,14,16,18]
    runs-on: ${{matrix.operating-system}}
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Node module Installed
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
      - name: Install dependencies
        run: npm ci
      - name: Build the Project
        run: npm run build

