name: reusable workflow
on: 
  workflow_call:
    inputs:
      artifact_name:
        description: The name of the deployable artifact files
        required: false
        default: dist-files
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
      - name: Output contents
        run: ls
      - name: Deploy
        run: echo "Deploying..."